@model ProfiloCreateInputModel
<h1>@ViewData["Title"]</h1>
<form method="post">
    <input type="hidden" asp-for="UtenteId">
    <div class="row">
        <div class="col-12">
            <!--
            Questa view dimostra l'uso sia dell'asp-validation-summary che dell'asp-validation-for
            Perciò gli errori di validazione verranno visualizzati due volte
            -->
            <div asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <input type="text" asp-for="Username" class="form-control" placeholder="Username">
            <span asp-validation-for="Username"></span>
        </div>
        <div class="col-md-4 mb-3">
            <input type="text" asp-for="Password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Crea profilo</button>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_Validation"></partial>
}