<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">TESTO DI PRESENTAZIONE DELL'APPLICAZIONE.</p>
    <p><a asp-controller="Home" asp-action="Privacy" class="btn btn-primary">Consulta la nostra politica di Privacy <i class="fas fa-angle-right"></i></a></p>
</div>

<section>
    <h2>TITOLO SEZIONE 1</h2>
</section>


<section>
    <h2>TITOLO SEZIONE 2</h2>
</section>